.body {
    margin: 0;
    font-family: 'Cinzel', serif;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.imgnav {
    width: 100px;
}

.navoptions {
    font-size: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.nava {
    margin-left: 30px;
    color: white;
    text-decoration: none;
}

.main {
    background-image: url(https://wallpaperaccess.com/full/266550.jpg);
}

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 500px;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    height: 350px;
    width: 700px;
    padding: 15px;
    background-color: rgba(27, 81, 146, 0.7);
    border-radius: 8px;
    border: 10px solid rgb(27, 81, 146);
    color: white;
}

.section {
    display: grid;
    grid-template-rows: 60px 100px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.h2section {
    text-align: center;
}

.imgsection {
    max-width: 300px;
    overflow: visible;
    margin-left: 25px;
}

.psection {
    padding-right: 7px;
    padding-left: 7px;
}

.btnsection {
    width: 200px;
    height: 50px;
    margin-top: 190px;
    margin-left: 75px;
    border: black solid;
    color: white;
    border-radius: 15px;
    transition: all 1s ease;
}
.btnsection:hover {
    background: rgb(205, 0, 0);

}

.asection {
    text-decoration: none;
    color: black;
}
.asection:hover {
    color: white;
    
}

.audio {
    max-width: 250px;
}

.footer {
    text-align: center;
}

.ulfooter {
    list-style: none;
}